.read-articles-section{
    .article-cards-container{
        width: 70%;
        margin:auto;
        .article-card{
            background-color: #fff;
            padding: 2rem;
            margin-bottom: 1rem;
        }
    }
}